$header-background: rgba(0, 0, 0, 0.752);
$header-text: whitesmoke;
$menu-button: whitesmoke;
$header-opacity: 90%;

@mixin heightWidth($h: unset, $w: unset) {
  height: $h;
  width: $w;
}

body {
  min-width: 200px;
  background-color: rgb(37, 60, 82);
}

.header {
  @include heightWidth($w: 100%, $h: 80px);
  display: inline-flex;
  position: relative;
  background-color: $header-background;
  color: $header-text;
  font-size: 15px;
  opacity: $header-opacity;
  h1 {
    margin-left: 30px;
  }
  .logo {
    transform: rotate(-90deg) translateY(40px);
  }
}
.iconContainer {
  position: fixed;
  right: 1%;
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  margin-right: 15px;
  translate: 0 -100px;
  div {
    margin-left: 10px;
  }
  button {
    background: none;
    padding: 7px;
    padding-right: 15px;
    border-style: round;
    border:none;
    cursor: pointer;
  }
  
}
.Navbar {
  @include heightWidth($w: 100%);
  display: inline-flex;
  position: relative;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
ul {
  text-align: center;
  z-index: 9;
  li {
    align-self: center;
    background-color: rgb(166, 170, 165);
    padding: 10px;
    font-size: 1.5em;

    list-style: none;
    a:link,
    a:visited {
      color: $header-text;
      display: inline-block;
      text-decoration: none;
    }

    form {
      ::placeholder {
        color: rgb(44, 41, 41);
        text-align: center;
      }

      input[type="text"] {
        @include heightWidth(35px, 160px);
        background-color: rgb(246, 241, 241);
        border: none;
        font-size: 15px;
        font-weight: 400;
        color:black;
        outline:none;
      }
      input[type="submit"] {
        @include heightWidth(37px, 100px);
        background-color: rgb(0, 157, 255);
        color: whitesmoke;
        border: 3px solid white;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
  &.menuNav {
    position: fixed;
    right: 0px;
    overflow-y: scroll;
    list-style: none;
    background-color: none;
    color: whitesmoke;
    overflow: hidden;
    margin: 0px;
    z-index: 9;
    translate: 0 -17.3px;
    padding: 0px;
    max-width: 300px;
    .subMenu {
      translate: initial;
    }

    &.showMenu {
      @include heightWidth($w: 100%);
      padding-bottom: 10px;
       li {
    button {
      border: none;
      background: none;
      color: whitesmoke;
      font-size: 1em;
      cursor: pointer;
    }
  }
    }
    &.closeMenu {
      @include heightWidth(0%);
    }
  }
}
.moveSubDown {
  translate: 0px 150px;
}
.moveDown {
  translate: 0px 156px;
}
.menu {
  @include heightWidth(400px);
 
}
input[type="checkbox"] {
  display: none;
}
